$ais-black: #181820
$ais-white: #E8E8E8
$ais-second-black: #3C3C4D
$ais-blue: #6C76CC
$ais-red: #D65353
$ais-orange: #FFAD4D
$ais-green: #5BD350

.account
  position: relative
  margin: auto 100px auto auto
  .menu
    position: absolute
    width: 300px
    height: 70px
    right: 0
    margin-top: 5px
    z-index: 1
    background-color: $ais-black
    border: 1px solid $ais-second-black
    padding: 10px 20px 10px 10px
    display: flex
    flex-direction: column
    div
      height: 80%
      margin-left: 0
      position: relative
      h2
        text-align: right
        color: $ais-white
        font-family: Roboto-Regular
        font-weight: normal
        font-size: 26px
        cursor: pointer
        &:hover
          color: $ais-blue
        &.active
          color: #5e66b1
  h1
    cursor: pointer
    font-family: Roboto-Regular
    font-weight: normal
    font-size: 36px
.loadAccount
  width: 80px
  padding: 0
  margin-right: 0

@media screen and (max-width: 780px)
  .account
    .loadAccount
      margin-left: 0
      margin-right: auto

@media screen and (max-width: 520px)
  .account
    h1
      font-size: 36px
@media screen and (max-width: 490px)
  .account
    h1
      font-size: 34px
@media screen and (max-width: 470px)
  .account
    h1
      font-size: 32px
@media screen and (max-width: 450px)
  .account
    h1
      font-size: 30px
@media screen and (max-width: 430px)
  .account
    h1
      font-size: 28px
@media screen and (max-width: 500px)
  .account
    margin: auto 20px auto auto
@media screen and (max-width: 430px)
  .account
    margin: auto 30px auto auto
